body {
    background-color: #222;
    overflow: hidden;
    user-select: none;
}

button {
    background-color: hotpink;
    border: 0;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 5px;
    outline: 0;
    padding: 20px;
    text-align: center;
    transition: .3s ease;
    width: 100%;
}

button:hover {
    background-color: #cc5390;
    transition: .3s ease;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.osuCircle {
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    user-select: none;
    width: 120px;
    height: 120px;
}

.osuNumber {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}

.osuCircleTimer {
    color: white;
}

#totalScoreText {
    position: absolute;
    font-size: 3em;
    right: 20px;
    top: 10px;
    text-align: right;
    user-select: none;
}

#totalHealthText {
    position: absolute;
    font-size: 3em;
    right: 20px;
    top: 70px;
    text-align: right;
    user-select: none;
}